/* your styles go here */
img.jquery {
    width: 110px;
    height: 110px;
}

.fab {
    margin-left: 2px;
}
.fab:hover {
    color: blue;
}

.logo-vid {
    width: 100% !important;
    height: auto !important;
    position: relative;
}

.mailTime{
    color: blue;
}

.mailTime:hover {
    color: purple;
}